<div class="inner-wrap">
    <div class="user-header" ng-include="'templates/partials/user-header.html'"></div>
    <div class="inner-body">
        <div class="todo-wrap">
            <div class="container">
                <div class="todo-sidebar">
                    <h3>Your lists <a href="#" ng-click="openModal()"><span>New list</span></a></h3>
                    <ul>
                        <li ng-repeat="list in lists">
                            <a href="#">
                                <span class="list-name">{{list.name}}</span>
                                <span class="list-color"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="todo-body">
                    <div class="form-wrap">
                        <form ng-submit="createTodo()">
                            <div class="form-group">
                                <label>What do you need to do?</label>
                                <input type="text" name="todo" ng-model="todo">
                                <button type="submit" class="button">Add</button>
                            </div>
                            <div ng-include="'templates/partials/error.html'"></div>
                        </form>
                    </div>
                    <ul ng-repeat="list in lists" class="todo-list" ng-include="'templates/partials/todo.html'"></ul>
                </div>
            </div>
        </div>
    </div>
</div>