<div ng-include="'templates/partials/header.html'"></div>
<div class="container">
	<h3>Add Todo</h3>
	<form ng-submit="submit()">
        <div class="form-group">
            <label>What do you need to do?</label>
            <div class="input-group">
                <input type="text" class="form-control" name="todo" ng-model="todo">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">Add</button>
                </span>
            </div>
        </div>
        <div ng-include="'templates/partials/error.html'"></div>
    </form>
	<h2>All Todos</h2>
	<ol class="list-group todo-list">
        <div ng-include="'templates/partials/todo.html'"></div>
	</ol>
</div>