h1, p {
    color: $slate;
}

h1 {
    font-size: 56px;
    line-height: 1;
    margin: 15px 0;
}

h3 {
    font-size: 28px;
}

h4 {
    border-top: 1px solid $hint;
    font-size: 20px;
    font-weight: 400;
    color: lighten($slate, 50%);
}

p {
    font-size: 16px;
    line-height: 1.4;

    strong {
        font-weight: 700;
    }

    a {
        color: $primary;
        text-decoration: none;
        transition: color .1s;

        &:hover {
            color: $sky;
        }
    }
}