<header>
    <div class="container">
        <a href="/" class="app-name">{{appTitle}}</a>
        <nav>
            <ul class="nav">
                <li ng-if="!user"><a class="nav-link" href="/login">Login</a></li>
                <li ng-if="!user"><a class="nav-link" href="/signup">Signup</a></li>
                <li ng-if="user"><a class="nav-link" href="/lists">Lists</a></li>
                <li ng-if="user"><a class="nav-link" href="/profile">Profile</a></li>
                <li ng-if="user"><a class="nav-link" href="/logout">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>
