<li class="list-group-item" ng-repeat="todo in todos | orderBy:'-createdAt'" ng-class="!todo.completed || 'completed'">
    <a href="#" toggle-complete>Done</a>
    <span class="text" ng-hide="editing" ng-click="editing = true">{{todo.text}}</span>
    <form ng-show="editing" ng-submit="update(todo); editing = false">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" name="todo" ng-model="todo.text">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-success">Save</button>
                </span>
            </div>
        </div>
    </form>
    <a href="#" ng-click="delete(todo); $event.preventDefault();">Delete</a>
</li>